<div id="content">
  <% header = (@relationship ? "New #{@relationship.humanize}" : "New Person") %>
  <h1><New person><%= header %></h1>

  <%= render 'form' %>

  <%= link_to 'Back', people_path %>
</div>