.header {
  height: 100px;
  padding-top: -10px;

  h1 {
    color: #24246B;
    font-size: 39px; 
    line-height: 39px;
    padding: 10px;
  }
}

body {
  margin: 20px 0px; padding:0px;
  text-align: center;
}

#Content {
  width: 980px;
  margin: 0px auto;
  text-align: left;
  padding: 15px;
  border: 1px double #333;
  background-color: #eee;
}