// Place all the styles related to the people controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.person_detail {
  position: relative;
}

.float {
  float: left;
  width: 150px;
  padding: 10px; 
  margin: 6px;
}

.parents {
  background-color: #F0E0FF;
  border: 6px groove #853385;
}

.person {
  background-color: #FFFFF0;
  font-weight: bold;
  border: 8px outset #FFC299;
}

.spouse {
  background-color: #FFFFE0;
}

.clear {
  clear: both;
}