// Place all the styles related to the people controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.person_detail {
  position: relative;
}

.detail_box {
  float: left;
  width: 150px;
  padding: 10px; 
  margin: 6px;  
}

.narrow_box {
  float: left;
  width: 20px;
  padding: 10px; 
  margin: 6px;  
}
.shadow {
  -moz-box-shadow:    3px 3px 5px 6px #ccc;
  -webkit-box-shadow: 3px 3px 5px 6px #ccc;
  box-shadow:         3px 3px 5px 6px #ccc;
}

.rotated_text {
  display: block;
  position: relative;
  bottom: -80px;
  # writing-mode:tb-rl;
  -moz-transform: rotate(270deg);
  -moz-transform-origin: 50% 50%;
  -webkit-transform: rotate(270deg);
  -webkit-transform-origin: 50% 50%;
  font-family: ‘Trebuchet MS’, Helvetica, sans-serif;
  font-size:24px;
  font-weight:normal;
  text-shadow: 0px 0px 1px #333;
}

.parents {
  background-color: #F0E0FF;
  border: 6px groove #853385;
}

.person {
  background-color: #FFFFF0;
  font-weight: bold;
  border: 8px outset #FFC299;
}

.spouse {
  background-color: #FFFFE0;
  border: 6px ridge #FFAD85;
}

.sibling {
  background-color: #FFDBDB;
  border: 6px ridge #B28F8F;
}

.child {
  background-color: #CCCCFF;
  border: 6px ridge #8A8AE6;
}

.clear {
  clear: both;
}

.links {
  font-size: 9px;
  font-weight: normal;
}